<div class="md:w-1/6 md:min-w-[180px]">
    <div class="p-4">
        <h3 class="text-lg font-semibold text-gray-800 mb-2">Lista de Canais</h3>
        <ul id="channel-list" class="space-y-1">
            <%- include('channel-sidebar-button', { name: "#informática" }) %>
            <%- include('channel-sidebar-button', { name: "#química" }) %>
            <%- include('channel-sidebar-button', { name: "#mecânica" }) %>
            <%- include('channel-sidebar-button', { name: "#edificações" }) %>
            <%- include('channel-sidebar-button', { name: "#telecomunicações" }) %>
            <%- include('channel-sidebar-button', { name: "#eletrotécnica" }) %>
        </ul>
    </div>
</div>